.navbar-area {
	padding: 0;
}
.navbar-brand > img {
	width: 50px;
}

.highlight {
	background-color: white;
	color: #0067f4;
	padding: 3px 5px;
	border-radius: 3px;
	font-weight: bolder;
}

.btn-gradient {
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0 32px;
    font-size: 16px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    overflow: hidden;
    line-height: 52px;
    background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background-size: 200% auto;
    color: #fff;
    border: 0;
    background-position: right center;
}

.carousel-item .slider-image-box {
	z-index: 0;
}

.slider-content {
	padding-top: 200px;
}

.slider-content .text {
	margin-top: -30px;
}

.mentor-slides{
	background-color: transparent;
	background: none;
}

.features-area {
	padding-top: 0;
	margin-top: -30px;
	padding-bottom: 10px;
}

.about-area, .contact-area, .testimonial-area, .team-area, .call-action-area, .footer-area, .result-area {
	padding-top: 20px;
    padding-bottom: 20px;
}

.section-title .text {
	margin-top: 5px;
}

.features-title {
	font-weight: bolder;
	color: #0067f4;
	text-transform: uppercase;
	margin-top: 10px;
}

.features-icon > img {
	width: 100px;
}

.team-single {
	margin: 0 10px;
}

.team-single .highlight {
	margin: 0 10px;
}

.team-slider .slick-arrow {
	position: absolute;
	z-index: 9;
	top: 260px;
	font-size: 22px;
    cursor: pointer;
    color: #a4a4a4;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-slider .prev {
	left: -30px;
}

.team-slider .next {
	right: -30px;
}

.pricing-icon {
	width: 50%;
	margin: auto;
}

.about-area .slick-arrow, .result-area .slick-arrow {
	position: absolute;
	z-index: 9;
	top: 40%;
	font-size: 22px;
    cursor: pointer;
    color: #a4a4a4;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.about-area .prev, .result-area .prev {
	left: 0;
}

.about-area .next, .result-area .next {
	right: 0;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

.zoom-effect {
	animation: zoominoutsinglefeatured 1s infinite ;
}

.result-area {
	background-color: #0067f4;
	color: white;
}

.result-single img {
	width: 100%;
}

.footer-two .footer-widget {
	padding-top: 10px;
	padding-bottom: 50px;
}

@media (max-width: 768px) {
	.slider-content {
		padding-top: 100px;
		padding-bottom: 250px;
	}
	.slider-content .title {
		font-size: 30px;
		line-height: 40px;
	}
	.slider-content .title .highlight {
		font-size: 40px;
		line-height: 50px;
	}
	.slider-content .slider-btn li {
		display: block;
	}
	.slider-content .slider-btn {
		padding-top: 0px;
	}
	.rounded-buttons .main-btn {
		font-size: 12px;
		line-height: 30px;
		border-radius: 10px;
	}
	.carousel-item .slider-image-box {
		width: 75%;
		right: 0;
	}
	.features-area {
		margin-top: 0px;
	}
	.features-icon > img {
		width: 80px;
	}
	.features-area {
		padding-top: 10px;
	}
	.features-title {
		font-size: 18px;
	}
	.single-features {
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	.features-col {
		padding: 0px 3px;
	}
	.team-slider .slick-arrow {
		color: #0067f4;
		font-weight: bolder;
		background-color:rgba(255,255,255,0.7);
		border-radius: 5px;
		padding: 0 5px;
	}
	.team-slider .slick-arrow:hover {
		background-color:rgba(255,255,255,1);
	}

	.team-slider .prev {
		left: 0px;
	}
	
	.team-slider .next {
		right: 0px;
	}
	.single-testimonial {
		padding: 30px;
	}
	.contact-area .col {
		padding: 0 3px;
	}
	.pricing-style {
		padding: 10px;
	}
	.pricing-style .pricing-icon {
		width: 30%;
	}
	.pricing-style .pricing-header .sub-title {
		margin-top: 5px;
	}
	.pricing-style .pricing-header .month {
		font-size: 16px;
	}
	.pricing-style .pricing-btn {
		margin-top: 10px;
	}
}
